.html {
    height: 100%;
}

#signup_body {
    background-image: -webkit-linear-gradient(-90deg, #303d99 0%, #537dd1 59%, #5fb9e7 100%);
    /* background-color: red; */
    /* margin-top: 100px; */
    /* margin-bottom: 50px; */
    /* overflow-y: auto; */
    /* height: 100%; */
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#form_container {
    padding-top: 100px;
    height: 100%;
    padding-bottom: 50px;
}

#signup_form {
    padding: 50px 40px;
    background-color: #fafafa;
    max-width: 415px;
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

#signup_header {
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 0px;
}

.form-control {
    height: 42px;
}

#signup_button {
    padding: 12px 16px 11px 16px;
}