{% extends 'foundation.html' %}
{% load static %}

{% block title %}Player Portfolio{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 bg-dark">
                <nav class="my-0 mr-md-auto">
                    <a class="navbar-brand text-light" href="{% url 'home' %}">
                        <img id="landing_page_emblem" src="{% static 'pp_emblem.png' %}" width="" height="30" class="d-inline-block align-top" alt="">
                        <b>Player Portfolio</b>
                        <span class="badge badge-pill badge-warning">beta</span>
                    </a>
                </nav>    
                <nav class="my-2 my-md-0 mr-md-3">
                    <span class="text-light navbar-text">
                        {{ user.first_name }}
                    </span>
                </nav>
                <a class="btn btn-outline-light" href="{% url 'logout' %}">Log Out</a>
        </div>
        <div class="m-md-5">
            <div class="jumbotron p-md-5">
              <div class="text-center">
                <h3 class="">Thanks {{user.first_name}} for signing up!</h3>
                <p class="lead font-weight-normal">You have been added to our waitlist! We will let you know when we launch our official beta.</p>
              </div>
              <div class="text-center">
                  <p class="lead font-weight-normal">Share the platform with your friends!</p>
                  <a href="">Facebook</a>
                  <a href="">Twitter</a>
              </div>
              </div>
        </div>
    </body>
{% else %}
    {% block landing_page %}
    <body>
        <!-- Navigation -->
        <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 bg-dark">
            <nav class="my-0 mr-md-auto">
                <a class="navbar-brand text-light" href="{% url 'home' %}">
                    <img id="landing_page_emblem" src="{% static 'pp_emblem.png' %}" width="" height="30" class="d-inline-block align-top" alt="">
                    <b>Player Portfolio</b>
                    <span class="badge badge-pill badge-warning">beta</span>
                </a>
            </nav>    
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-light" href="#how_it_works">How It Works</a>
                <a class="p-2 text-light" href="#scoring">Scoring</a>
                <a class="p-2 text-light" href="#faq">FAQ</a>
                <a class="p-2 text-light" href="#support">Support</a>
            </nav>
            <a class="btn btn-outline-light" href="{% url 'login' %}">Log In</a>
        </div>

        <!-- Masthead -->
        <div id="masthead" class="jumbotron jumbotron-fluid position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="background-image: url({% static 'masthead.svg' %}); background-repeat: no-repeat; background-position: bottom; background-size: 70%;">
          <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-bold">Fantasy Sports.</h1>
            <h1 class="display-4 font-weight-bold">Elevated.</h1>
            <p class="lead font-weight-normal">The marketplace for a fantasy player's real value.</p>
            <a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
          </div>
        </div>
        

        <!-- Features -->
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
                <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                  <div class="my-3 py-3">
                    <h2 class="display-5">Make money trading players.</h2>
                    <p class="lead">Invest in a player's season production by buying and selling their shares on the market.</p>
                  </div>
                  <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <span style="
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;"></span>
                    <img src="{% static 'feature1@2x.png' %}" alt="Player Portfolio feature 1 image" style="
                    max-width: 90%;
                    max-height:100%;
                    vertical-align: middle;
                  ">
                  </div>
                </div>
                <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                  <div class="my-3 p-3">
                    <h2 class="display-5">Manage your fantasy portfolio.</h2>
                    <p class="lead">Track players' performance through the season to create the perfect portfolio.</p>
                  </div>
                  <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <span style="
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;"></span>
                    <img src="{% static 'stocks@2x.png' %}" alt="Player Portfolio feature 2 image" style="
                    max-width: 90%;
                    max-height:100%;
                    vertical-align: middle;
                ">
                  </div>
                </div>
              </div>

        <!-- How It Works -->
        <div id="how_it_works" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
          <div class="col-md-10 p-lg-5 mx-auto">
            <h2 class="display-4 font-weight-bold mb-5">How It Works</h2>
            <h4 class="">Think a Fantasy Player is...</h4>
            <div class="row">
              <div class="col mx-auto" style="width: 80%; border-radius: 21px 21px 0 0;">
                <div class="card bg-success mx-3 mt-5 mb-3">
                  <div class="card-body">
                    <div class="card-text">
                      <h4 class="text-light my-0">Underrated</h4>
                    </div>
                  </div>
                </div>
                <img class="my-3" src="{% static 'football-player-up@2x.png' %}" alt="football player" style="
                max-width: 90%;
                max-height:100%;
                vertical-align: middle;
                border-radius: 15px;
              ">
              <h4 class="">Then buy at the lowest price possible and sell later.</h4>
            </div>
              <div class="col mx-auto" style="width: 80%; border-radius: 21px 21px 0 0;">
                <div class="card bg-danger mx-3 mt-5 mb-3">
                  <div class="card-body">
                    <div class="card-text">
                      <h4 class="text-light my-0">Overrated</h4>
                    </div>
                  </div>
                </div>
                <img class="my-3" src="{% static 'football-player-down@2x.png' %}" alt="football player" style="
                      max-width: 90%;
                      max-height:100%;
                      vertical-align: middle;
                      border-radius: 15px;
                    ">
                <h4 class="">Then sell at the highest price possible and possibly buy back later.</h4>
              </div>
            </div>
              <div class="card bg-primary mx-3 my-5">
                <div class="card-body">
                  <div class="card-text">
                    <h4 class="text-light my-0">Find someone to take the other side of the deal in the Player Market</h4>
                  </div>
                </div>
              </div>
              <div class="mx-3 mb-4">
                <div class="text-center">
                  <h3>Player Market</h3>
                </div>
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Position</th>
                      <th scope="col">Fantasy Points</th>
                      <th scope="col">Current Price</th>
                      <th scope="col">Shares</th>
                      <th scope="col">Highest Buyer</th>
                      <th scope="col">Lowest Seller</th>
                      <th scope="col">Season Return</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Aaron Rodgers</td>
                      <td>QB</td>
                      <td>266.67</td>
                      <td>$2.65</td>
                      <td>548</td>
                      <td>$2.60</td>
                      <td>$2.70</td>
                      <td>10.00%</td>
                    </tr>
                    <tr>
                      <td>Todd Gurley</td>
                      <td>RB</td>
                      <td>333.33</td>
                      <td>$2.85</td>
                      <td>853</td>
                      <td>$2.70</td>
                      <td>$2.90</td>
                      <td>9.00%</td>
                    </tr>
                    <tr>
                      <td>Tom Brady</td>
                      <td>QB</td>
                      <td>250</td>
                      <td>$2.50</td>
                      <td>389</td>
                      <td>$2.30</td>
                      <td>$2.50</td>
                      <td>11.00%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <h4 class="">Lastly, close your position either during or at the end of the season.</h4>
          </div>
        </div>
        
        <!-- Scoring -->
        <div id="scoring" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center text-white bg-dark">
          <div class="col-md-5 p-x-5 pt-5 mx-auto">
            <h2 class="display-4 font-weight-bold">Scoring</h2>
          </div>
          <div class="card-group mt-5 mb-5">
          <div class="row mx-auto justify-content-center">
            <div class="card text-light border-light bg-dark mb-3 mx-3" style="max-width: 13rem;">
              <div class="card-body">
                <h2 class="card-title">Football</h2>
                <p class="card-text lead font-weight-normal">$1.00 value</p>
                <hr class="bg-light">
                <p class="card-text lead font-weight-normal">100 fantasy points</p>
              </div>
            </div>
            <div class="card text-light border-light bg-dark mb-3 mx-3" style="max-width: 13rem;">
              <div class="card-body">
                <h2 class="card-title">Basketball</h2>
                <p class="card-text lead font-weight-normal">$1.00 value</p>
                <hr class="bg-light">
                <p class="card-text lead font-weight-normal">1,000 fantasy points</p>
              </div>
            </div>
            <div class="card text-light border-light bg-dark mb-3 mx-3" style="max-width: 13rem;">
              <div class="card-body">
                <h2 class="card-title">Hockey</h2>
                <p class="card-text lead font-weight-normal">$1.00 value</p>
                <hr class="bg-light">
                <p class="card-text lead font-weight-normal">100 fantasy points</p>
              </div>
            </div>
            <div class="card text-light border-light bg-dark mb-3 mx-3" style="max-width: 13rem;">
              <div class="card-body">
                <h2 class="card-title">Baseball</h2>
                <p class="card-text lead font-weight-normal">$1.00 value</p>
                <hr class="bg-light">
                <p class="card-text lead font-weight-normal">100 fantasy points</p>
              </div>
            </div>
          </div>
        </div>
      </div>

        <!-- FAQ -->
        <div id="faq" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="">
                <div class="col-md-8 p-lg-5 mx-auto">
                  <h2 class="display-4 font-weight-bold mb-5">Frequently Asked Questions</h2>
                    <div id="faq" class="mb-5">
                      <h5 class="text-justify font-weight-bold">What is Player Portfolio?</h5>
                      <p class="text-justify lead font-weight-normal">Player Portfolio is an open market that allows you to invest in a fantasy player’s <u>season production</u> by buying or selling “Shares” of that player. Player Portfolio is unique because it allows you to buy or sell any <u>player</u> at any timethroughout the season.</p>
                    </div>
                    <div class="mb-5">
                      <h5 class="text-justify font-weight-bold">What Sports Are Available?</h5>
                      <p class="text-justify lead font-weight-normal">NFL, NHL, NBA, and MLB athletes will be available to trade.</p>
                    </div>
                    <div class="mb-5">
                      <h5 class="text-justify font-weight-bold">How Does It Work?</h5>
                      <p class="text-justify lead font-weight-normal">Player Portfolio is an open market,so it requires that a buyer agrees with a seller to trade a player at an agreed uponprice. The buyer then owns the right to that player’s “Share”. The seller receives the amount that the buyer was willing to pay for that “Share”.</p>
                    </div>
                    <div class="mb-5">
                      <h5 class="text-justify font-weight-bold">How are player shares calculated?</h5>
                      <p class="text-justify lead font-weight-normal">The value of a “Share” of a player is directly related to the amount of points that player scores in that season. The relation of fantasy points to real dollars varies by sport:</p>
                      <p class="text-justify"><h7 class="font-weight-bold">NFL:</h7> 100 Fantasy Points = $1.00 USD</p>
                      <p class="text-justify"><h7 class="font-weight-bold">NBA:</h7> 1,000 Fantasy Points = $1.00 USD</p>
                      <p class="text-justify"><h7 class="font-weight-bold">NHL:</h7> 100 Fantasy Points = $1.00 USD</p>
                      <p class="text-justify"><h7 class="font-weight-bold">MLB:</h7> 1,000 Fantasy Points = $1.00 USD</p>
                    </div>
                    <div class="mb-5">
                      <h5 class="text-justify font-weight-bold">How Are Shares Generated?</h5>
                      <p class="text-justify lead font-weight-normal">Shares are generated when a new buyer and a new seller agree to trade a player. If either the buyer or seller is trading previously generated shares, then those shares are just changing hands, not new shares being generated.</p>
                    </div>
                    <div class="mb-5">
                      <h5 class="text-justify font-weight-bold">How Can I Sell Shares Without Already Owning Them?</h5>
                      <p class="text-justify lead font-weight-normal">This is often referred to in the investing world as “Short Selling” or borrowing money to sell the sharesnowand then buying back the shares during or at the end of the season. The reason for this is if a player’s price is higher than you think it should be and you don’t already have shares of that player, you can “Short Sell” that player which means you’re selling the shares at the current price but have to buy back the shareslater, at a price that you think will be cheaper.</p>
                    </div>
                    <div class="mb-5">
                      <h5 class="text-justify font-weight-bold">How Much Money Can I Make?</h5>
                      <p class="text-justify lead font-weight-normal">Player Portfolio is speculative and is considered sports gambling. However, you can make a high return on your money if you pick the right players. The difference between the share value at the end of the season (or earlier if you wish to close your position to realize profits) and the price you paid for the 
                        share is your profit or loss. Buying underrated players or “selling short” overrated players can result in consistent profits. Player Portfolio takes the week-to-week randomness out of fantasy sports gambling.</p>
                    </div>
                    <div class="mb-5">
                      <h5 class="text-justify font-weight-bold">Have More Questions That We Didn’t Answer For You?</h5>
                      <p class="text-justify lead font-weight-normal">Send us an email with your questions and we’ll reach out to you to answer them and add them to this list.</p>
                    </div>
                </div>
              </div>

        <!-- Footer -->
        <footer class="bg-dark fluid-container py-5">
                <div class="text-center row">
                  <div class="col-12 col-md">
                    <img src="{% static 'pp-logo.png' %}" height="48" alt="Player Portfolio Logo">
                    <small class="d-block mb-3 text-light">© 2018</small>
                  </div>
                  <div class="col-6 col-md">
                    <h5 class="text-white">Company</h5>
                    <ul class="list-unstyled text-small">
                      <li><a class="text-light" href="#">About</a></li>
                      <li><a class="text-light" href="#">Careers</a></li>
                      <li><a class="text-light" href="#">Press</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md">
                    <h5 class="text-white">Notices</h5>
                    <ul class="list-unstyled text-small">
                      <li><a class="text-light" href="#">Terms of Use</a></li>
                      <li><a class="text-light" href="#">Privacy Policy</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md">
                    <h5 class="text-white">Social Media</h5>
                    <ul class="list-unstyled text-small">
                      <li><a class="text-light" href="#">Facebook</a></li>
                      <li><a class="text-light" href="#">Instagram</a></li>
                      <li><a class="text-light" href="#">Twitter</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md">
                        <h5 id="support" class="text-white">Support</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-light" href="mailto:playerportfoliollc@gmail.com">playerportfoliollc@gmail.com</a></li>
                        </ul>
                  </div>
                </div>
              </footer>
    </body>
    {% endblock %}
{% endif %}
{% endblock %}