{% extends 'foundation.html' %}
{% load static %}

{% block title %}Player Portfolio{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 bg-dark">
                <nav class="my-0 mr-md-auto">
                    <a class="navbar-brand text-light" href="{% url 'home' %}">
                        <img id="landing_page_emblem" src="{% static 'pp_emblem.png' %}" width="" height="30" class="d-inline-block align-top" alt="">
                        <b>Player Portfolio</b>
                        <span class="badge badge-pill badge-warning">beta</span>
                    </a>
                </nav>    
                <nav class="my-2 my-md-0 mr-md-3">
                    <span class="text-light navbar-text">
                        {{ user.first_name }}
                    </span>
                </nav>
                <a class="btn btn-outline-light" href="{% url 'logout' %}">Log Out</a>
        </div>
        <p>{{ user.first_name }}</p>
        <p>{{ user.last_name }}</p>
        <p>{{ user.username }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.date_joined }}</p>
    </body>
{% else %}
    {% block landing_page %}
    <body>
        <!-- Navigation -->
        <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 bg-dark">
            <nav class="my-0 mr-md-auto">
                <a class="navbar-brand text-light" href="{% url 'home' %}">
                    <img id="landing_page_emblem" src="{% static 'pp_emblem.png' %}" width="" height="30" class="d-inline-block align-top" alt="">
                    <b>Player Portfolio</b>
                    <span class="badge badge-pill badge-warning">beta</span>
                </a>
            </nav>    
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-light" href="#how_it_works">How It Works</a>
                <a class="p-2 text-light" href="#scoring">Scoring</a>
                <a class="p-2 text-light" href="#faq">FAQ</a>
                <a class="p-2 text-light" href="#support">Support</a>
            </nav>
            <a class="btn btn-outline-light" href="{% url 'login' %}">Log In</a>
        </div>

        <!-- Masthead -->
        <div id="masthead" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                  <h1 class="display-4 font-weight-bold">Fantasy Sports.</h1>
                  <h1 class="display-4 font-weight-bold">Elevated.</h1>
                  <p class="lead font-weight-normal">The marketplace for a fantasy player's real value.</p>
                  <a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
                </div>
              </div>
        

        <!-- Features -->
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
                <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                  <div class="my-3 py-3">
                    <h2 class="display-5">Make money trading players.</h2>
                    <p class="lead">Invest in a player's season production by buying and selling their shares on the market.</p>
                  </div>
                  <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <span style="
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;"></span>
                    <img src="{% static 'feature1@2x.png' %}" alt="Player Portfolio feature 1 image" style="
                    max-width: 90%;
                    max-height:100%;
                    vertical-align: middle;
                  ">
                  </div>
                </div>
                <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                  <div class="my-3 p-3">
                    <h2 class="display-5">Manage your fantasy portfolio.</h2>
                    <p class="lead">Track players' performance through the season to create the perfect portfolio.</p>
                  </div>
                  <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <span style="
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;"></span>
                    <img src="{% static 'stocks@2x.png' %}" alt="Player Portfolio feature 2 image" style="
                    max-width: 90%;
                    max-height:100%;
                    vertical-align: middle;
                ">
                  </div>
                </div>
              </div>

        <!-- How It Works -->
        <div id="how_it_works" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                  <h2 class="display-4 font-weight-bold">How It Works</h2>
                  <!-- TODO -->
                </div>
              </div>
        
        <!-- Scoring -->
        <div id="scoring" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center text-white bg-secondary">
                <div class="col-md-5 p-lg-5 mx-auto my-5">
                  <h2 class="display-4 font-weight-bold">Scoring</h2>
                  <!-- TODO -->
                </div>
              </div>

        <!-- FAQ -->
        <div id="faq" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="">
                <div class="col-md-8 p-lg-5 mx-auto my-5">
                  <h2 class="display-4 font-weight-bold mb-5">Frequently Asked Questions</h2>
                    <div id="faq" class="mb-5">
                      <h4 class="text-justify font-weight-bold">What is Player Portfolio?</h4>
                      <p class="text-justify lead font-weight-normal">Player Portfolio is an open market that allows you to invest in a fantasy player’s <u>season production</u> by buying or selling “Shares” of that player. Player Portfolio is unique because it allows you to buy or sell any <u>player</u> at any timethroughout the season.</p>
                    </div>
                    <div class="mb-5">
                      <h4 class="text-justify font-weight-bold">What Sports Are Available?</h4>
                      <p class="text-justify lead font-weight-normal">NFL, NHL, NBA, and MLBathletes will be availableto trade.</p>
                    </div>
                    <div class="mb-5">
                      <h4 class="text-justify font-weight-bold">How Does It Work?</h4>
                      <p class="text-justify lead font-weight-normal">Player Portfolio is an open market,so it requires that a buyer agrees with a seller to trade a player at an agreed uponprice.The buyer then owns the right to that player’s “Share”. The seller receives the amount that the buyer was willing to pay for that “Share”.</p>
                    </div>
                    <div class="mb-5">
                      <h4 class="text-justify font-weight-bold">What is the Value of a “Share” of a Player?</h4>
                      <p class="text-justify lead font-weight-normal">The value of a “Share” of a player is directly related to the amount of points that player scores in that season.The relation of fantasy points to real dollars varies by sport:</p>
                      <p class="text-justify"><h7 class="font-weight-bold">NFL:</h7> 100 Fantasy Points = $1.00 USD</p>
                      <p class="text-justify"><h7 class="font-weight-bold">NBA:</h7> 1,000 Fantasy Points = $1.00 USD</p>
                      <p class="text-justify"><h7 class="font-weight-bold">NHL:</h7> 100 Fantasy Points = $1.00 USD</p>
                      <p class="text-justify"><h7 class="font-weight-bold">MLB:</h7> 1,000 Fantasy Points = $1.00 USD</p>
                    </div>
                    <div class="mb-5">
                      <h4 class="text-justify font-weight-bold">How Are Shares Generated?</h4>
                      <p class="text-justify lead font-weight-normal">Shares are generated when a new buyer and a new seller agree to trade a player. If either the buyer or seller is trading previously generated shares, then those shares are just changing hands, not new shares being generated.</p>
                    </div>
                    <div class="mb-5">
                      <h4 class="text-justify font-weight-bold">How Can I Sell Shares Without Already Owning Them?</h4>
                      <p class="text-justify lead font-weight-normal">This is often referred to in the investing world as “Short Selling” or borrowing money to sell the sharesnowand then buying back the shares during or at the end of the season. The reason for this is if a player’s price is higher than you think it should be and you don’t already have shares of that player, you can “Short Sell” thatplayer which means you’re selling the shares at the current price but have to buy back the shareslater,at a price that you think will be cheaper. </p>
                    </div>
                    <div class="mb-5">
                      <h4 class="text-justify font-weight-bold">How Much Money Can I Make?</h4>
                      <p class="text-justify lead font-weight-normal">Player Portfolio is speculative and is considered sports gambling. However, you can make a high return on your money if you pick the right players. The difference between the share value at the end of the season (or earlier if you wish to close your position to realize profits) and the price you paid for the 
                        share is your profit or loss. Buying underrated players or “selling short”overrated players can result in consistent profits. Player Portfolio takes the week-to-week randomness out of fantasy sports gambling.</p>
                    </div>
                    <div class="mb-5">
                      <h4 class="text-justify font-weight-bold">Have More Questions That We Didn’t Answer For You?</h4>
                      <p class="text-justify lead font-weight-normal">Send us an email with your questions and we’ll reach out to you to answer them and add them to this list.</p>
                    </div>
                </div>
              </div>

        <!-- Footer -->
        <footer class="bg-dark fluid-container py-5">
                <div class="text-center row">
                  <div class="col-12 col-md">
                    <img src="{% static 'pp-logo.png' %}" height="48" alt="Player Portfolio Logo">
                    <small class="d-block mb-3 text-light">© 2018</small>
                  </div>
                  <div class="col-6 col-md">
                    <h5 class="text-white">Company</h5>
                    <ul class="list-unstyled text-small">
                      <li><a class="text-light" href="#">About</a></li>
                      <li><a class="text-light" href="#">Careers</a></li>
                      <li><a class="text-light" href="#">Press</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md">
                    <h5 class="text-white">Notices</h5>
                    <ul class="list-unstyled text-small">
                      <li><a class="text-light" href="#">Terms of Use</a></li>
                      <li><a class="text-light" href="#">Privacy Policy</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md">
                    <h5 class="text-white">Social Media</h5>
                    <ul class="list-unstyled text-small">
                      <li><a class="text-light" href="#">Facebook</a></li>
                      <li><a class="text-light" href="#">Instagram</a></li>
                      <li><a class="text-light" href="#">Twitter</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md">
                        <h5 id="support" class="text-white">Support</h5>
                        <ul class="list-unstyled text-small">
                            <address>
                                <!-- TODO -->
                            </address>
                        </ul>
                  </div>
                </div>
              </footer>
    </body>
    {% endblock %}
{% endif %}
{% endblock %}