{% extends 'foundation.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<body id="signup_body">
    <a href="{% url 'home' %}">
        <img id="pp_logo" class="d-block mx-auto mb-4" src="{% static 'pp-logo.png' %}" alt="Player Portfolio" height=120px>
    </a>
    <div id="form_container">
        <form id="signup_form" method="post">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            <h2 id="signup_header" class="text-center form-title">Sign Up</h2>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="first_name" maxlength="150" placeholder="First Name" autofocus="" required="">
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" name="last_name" maxlength="150" placeholder="Last Name" required="">
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="username" maxlength="150" placeholder="Username" required="">
                <small class="form-text text-muted">{{ form.username.help_text }}</small>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" maxlength="254" placeholder="Email Address" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password1" placeholder="Password" required="">
                <small class="form-text text-muted">{{ form.password1.help_text }}</small>  
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password2" placeholder="Confirm Password" required="">    
            </div>
            <button id="signup_button" class="btn btn-dark btn-block" type="submit">Sign Up</button>
            <div id="signin_alternative" class="text-center">
                <p class="text-muted">
                    <small>
                        Already have an account? <a class="text-primary" href="{% url 'login' %}"><u>Log In</u></a>
                    </small>
                </p>
            </div>
        </form>
    </div>
</body>
{% endblock %}